[data-md-color-scheme="aamiranauthorcolour"] {
    --md-primary-fg-color:        hsla(36, 100%, 15%, 1);
    --md-default-bg-color:        #f6f3ee;

    --md-accent-fg-color:                hsla(137, 55%, 50%, 1);
    --md-accent-fg-color--transparent:   hsla(137, 55%, 50%, 0.1);
    --md-accent-bg-color:                hsla(0, 100%, 100%, 1);
  }

/* Header */
.md-header {
  font-family: "PlayFair";
}
.pal-banner{
  background-image: url("../images/scarf-7156048_1280-rotated-transparent-cropped.svg");
  background-size: contain;
  width: 100%;
  height: 10vh;
}

.md-header__button.md-logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 1.9rem;
  width: 1.9rem;
}

.md-header__title {
  font-size: 1.9rem;
  height: 3.4rem;
  line-height: 3.4rem;
}


 /*  Navigation tabs */
.md-tabs__list {
  justify-content: center;
}

.md-tabs__item {
  height: 2.95rem;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.md-tabs__link {
  font-size: 1.25rem;
}

.md-tabs {
  font-family: "PlayFair";
}


/* Footer */
.landack {
  font-size: 0.55rem;
  text-align: center;
}
