[data-md-color-scheme="aamiranauthorcolour"] {
    --md-primary-fg-color:        hsla(36, 100%, 15%, 1);
    --md-default-bg-color:        #f6f3ee;

    --md-accent-fg-color:                hsla(137, 55%, 50%, 1);
    --md-accent-fg-color--transparent:   hsla(137, 55%, 50%, 0.1);
    --md-accent-bg-color:                hsla(0, 100%, 100%, 1);
  }

  [data-md-color-scheme="underthefullandcrescentmooncolour"] {
    --md-primary-fg-color:        hsla(255, 36%, 9%,1);
    --md-default-bg-color:        hsla(229, 40%, 23%,1);

    --md-accent-fg-color:                hsla(49, 97%, 66%,1);
    --md-accent-fg-color--transparent:   hsla(49, 97%, 66%,0.2);
    --md-accent-bg-color:                hsla(0, 100%, 100%, 1);

    --md-typeset-color:                  hsla(260, 11%, 72%,1);
    --md-default-fg-color--light:        hsla(260, 11%, 72%, 1);
    --md-typeset-a-color:                hsla(300, 5%, 88%,1);
  }

/* latin-ext */
@font-face {
  font-family: 'Lancelot';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lancelot/v27/J7acnppxBGtQEulG4KYxzp5yGw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lancelot';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lancelot/v27/J7acnppxBGtQEulG4KY_zp4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Header */
.md-header {
  --md-text-font: "Playfair";
  font-family: var(--md-text-font), var(--md-text-font-family);
}

[data-md-color-scheme="underthefullandcrescentmooncolour"] .md-header {
  background: linear-gradient(hsla(255, 36%, 9%,1), hsla(236, 35%, 16%,1));
}

.pal-banner{
  background-image: 
    url("../images/scarf-7156048_1280-rotated-transparent-cropped.svg");
  background-size: contain;
  width: 100%;
  height: 10vh;
}


[data-md-color-scheme="underthefullandcrescentmooncolour"] .pal-banner{
  background-image: 
    url("../images/scarf-7156048_1280-rotated-transparent-cropped.svg");
    filter: invert(0.625);
}

.md-header__button.md-logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 1.9rem;
  width: 1.9rem;
}

.md-header__title {
  font-size: 1.9rem;
  height: 3.4rem;
  line-height: 3.4rem;
}


 /*  Navigation tabs */
.md-tabs__list {
  justify-content: center;
}


[data-md-color-scheme="underthefullandcrescentmooncolour"] .md-tabs__list {
  justify-content: center;
  background: linear-gradient(hsla(236, 35%, 16%,1),hsla(229, 40%, 23%,1));
}

[data-md-color-scheme="underthefullandcrescentmooncolour"] .md-tabs {
  background: linear-gradient(hsla(236, 35%, 16%,1),hsla(229, 40%, 23%,1));
}

[data-md-color-scheme="underthefullandcrescentmooncolour"] .md-search__input {
  /* color: inherit; */ /* Done to override dark colour in search bar*/
  color: hsla(300, 5%, 88%,1);
  font-size: .8rem;
}

.md-tabs__item {
  height: 2.95rem;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.md-tabs__link {
  font-size: 1.25rem;
}

.md-tabs {
  --md-text-font: "Playfair";
  font-family: var(--md-text-font), var(--md-text-font-family);
}

.preorder {
  text-align: center;
  font-size: 1.5rem;
}

.preordersmall {
  text-align: center;
  font-size: 1rem;
}

.bookfancy {
  text-align: center;
  font-size: 2rem;
  --md-text-font: "Lancelot";
  font-family: var(--md-text-font), var(--md-text-font-family);
}


[data-md-color-scheme="underthefullandcrescentmooncolour"] .bookfancy {
  color: #f8d25a;
}

[data-md-color-scheme="aamiranauthorcolour"] .bookfancy {
  color: #323672;
}

.bookfancysmall {
  text-align: center;
  font-size: 1.2rem;
  --md-text-font: "Lancelot";
  font-family: var(--md-text-font), var(--md-text-font-family);
}


[data-md-color-scheme="underthefullandcrescentmooncolour"] .bookfancysmall {
  color: #f8d25a;
}

[data-md-color-scheme="aamiranauthorcolour"] .bookfancysmall {
  color: #323672;
}

/* Footer */
.landack {
  font-size: 0.55rem;
  text-align: center;
}
